<!-- Filtros -->
<div class="flex gap-2 mb-8">
  <button (click)="showAll()" [ngClass]="selectedOption == 'ALL' ? 'px-4 py-1 bg-white text-black rounded-full font-semibold' : 'px-4 py-1 bg-gray-800 text-white rounded-full hover:bg-gray-700'">Todo</button>
  <button (click)="showSongs()" [ngClass]="selectedOption == 'SONGS' ? 'px-4 py-1 bg-white text-black rounded-full font-semibold' : 'px-4 py-1 bg-gray-800 text-white rounded-full hover:bg-gray-700'">Canciones</button>
  <button (click)="showArtists()" [ngClass]="selectedOption == 'ARTISTS' ? 'px-4 py-1 bg-white text-black rounded-full font-semibold' : 'px-4 py-1 bg-gray-800 text-white rounded-full hover:bg-gray-700'">Artistas</button>
</div>

<ng-container *ngIf="selectedOption == 'ALL'">
  <!-- Grid principal -->
  <div class="grid grid-cols-1 lg:grid-cols-[400px_1fr] gap-6 px-8 mb-14 items-start">
    <!-- Resultado principal -->
    <div>
      <h2 class="text-xl font-bold text-white mb-4">Resultado principal</h2>
      <div class="bg-gray-700 hover:bg-gray-600 p-5 rounded-lg flex flex-col gap-4">
        <img [src]="mainArtist?.image" alt="" class="w-28 h-28 rounded-full shadow-md" (click)="goToArtist(mainArtist?.id)" />
        <div>
          <h3 class="text-white text-3xl font-bold leading-tight">{{ mainArtist?.name }}</h3>
          <p class="text-neutral-400 text-md pb-4">Artista</p>
        </div>
      </div>
    </div>

    <!-- Canciones -->
    <div>
      <h2 class="text-xl font-bold text-white mb-4">Canciones</h2>
      <ul>
        <li *ngFor="let song of songs.slice(0, 4)" class="flex justify-between items-center py-2 hover:bg-gray-800 px-4 rounded">
          <div class="flex items-center gap-4 w-full hover:bg-gray-600">
            <img [src]="song.album.images[0]?.url" class="w-12 h-12 rounded" />
            <div>
              <p class="text-white font-medium truncate max-w-[300px] hover:cursor-pointer hover:underline" (click)="playSong(song)">{{ song.name }}</p>
              <p class="text-gray-400 text-sm truncate">{{ mainArtist?.name }}</p>
            </div>
          </div>
          <span class="text-sm text-gray-400">{{ song.duration_ms | date: "mm:ss" }}</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Artistas -->
  <div class="px-8">
    <h2 class="text-3xl font-bold text-white mb-6">Artistas</h2>
    <div class="flex gap-6 flex-wrap">
      <div *ngFor="let artist of artists" class="flex flex-col items-center w-48 hover:scale-105 transition-transform">
        <ng-container *ngIf="!artist.image; else imageAvailable">
          <div class="w-48 h-48 rounded-full mb-2 shadow-lg bg-gray-700 flex items-center justify-center">
            <fa-icon [icon]="faUser" class="text-white text-9xl"></fa-icon>
          </div>
        </ng-container>
        <ng-template #imageAvailable>
          <img [src]="artist.image" class="w-48 h-48 rounded-full mb-3 shadow-lg object-cover" (click)="goToArtist(artist.id)" />
        </ng-template>
        <p class="text-white text-sm font-semibold text-center truncate">{{ artist.name }}</p>
        <span class="text-neutral-400 text-xs">Artista</span>
      </div>
    </div>
  </div>

  <div
    *ngIf="showLoginModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="bg-white rounded-lg p-6 text-center max-w-sm w-full shadow-lg">
      <h2 class="text-xl font-bold mb-4 text-black">Debes iniciar sesión</h2>
      <p class="mb-4 text-black">Para ver los detalles del artista, por favor inicia sesión.</p>
      <button
        class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
        (click)="closeModal()"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="selectedOption == 'SONGS'">
  <div class="px-8">
    <h2 class="text-3xl font-bold text-white mb-6">Canciones</h2>
    <table class="w-full text-left text-white">
      <thead class="border-b border-gray-600 text-neutral-400 text-sm uppercase">
      <tr>
        <th class="w-12">#</th>
        <th class="px-4">Título</th>
        <th class="px-4">Álbum</th>
        <th class="text-right pr-6">Duración</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let song of songs; let i = index"
        class="hover:bg-gray-800 transition duration-200"
      >
        <td class="py-3 pl-2 pr-4 text-neutral-400 text-sm">{{ i + 1 }}</td>
        <td class="flex items-center gap-4 py-3 pr-4">
          <img [src]="song.album.images[0]?.url" alt="Cover" class="w-12 h-12 rounded" />
          <div>
            <p class="font-medium truncate max-w-xs hover:underline cursor-pointer" (click)="playSong(song)">
              {{ song.name }}
            </p>
            <p class="text-sm text-neutral-400">{{ song.artist.name }}</p>
          </div>
        </td>
        <td class="py-3 pr-4 text-neutral-300 truncate max-w-md">
          {{ song.album.name }}
        </td>
        <td class="py-3 text-right pr-6 text-neutral-400 text-sm">
          {{ song.duration_ms | date: "mm:ss" }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<ng-container *ngIf="selectedOption == 'ARTISTS'">
  <div class="px-8">
    <h2 class="text-3xl font-bold text-white mb-6">Artistas</h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7 gap-6">
      <div *ngFor="let artist of artists" class="flex flex-col items-center text-center hover:scale-105 transition-transform cursor-pointer">
        <!-- Imagen o icono por defecto -->
        <ng-container *ngIf="artist.image; else defaultImage">
          <img [src]="artist.image" alt="artist image" class="rounded-full w-48 h-48 object-cover mb-2 shadow-md" (click)="goToArtist(artist.id)" />
        </ng-container>
        <ng-template #defaultImage>
          <div class="w-48 h-48 rounded-full bg-gray-800 flex items-center justify-center mb-2 shadow-md">
            <fa-icon [icon]="faUser" class="text-white text-9xl"></fa-icon>
          </div>
        </ng-template>

        <!-- Nombre del artista -->
        <p class="text-white text-sm font-semibold truncate max-w-[7rem]">{{ artist.name }}</p>
        <span class="text-neutral-400 text-xs">Artista</span>
      </div>
    </div>
  </div>

</ng-container>
